#Assignment_2/exercise_02/FreeRTOS/Source/
#Assignment_2/exercise_02/FreeRTOS/FBS-App/WIN32-MSVC/Debug/
Assignment_4/Praktischer_Teil/PCP/FreeRTOS/PCP-App/WIN32-MSVC/.vs/WIN32/v15/Browse.VC.opendb
Assignment_4/Praktischer_Teil/PCP/FreeRTOS/PCP-App/WIN32-MSVC/Debug/
Assignment_4/Praktischer_Teil/PCP/FreeRTOS/PCP-App/WIN32-MSVC/WIN32.vcxproj.user
Assignment_4/Praktischer_Teil/PCP/FreeRTOS/PCP-App/WIN32-MSVC/.vs/*OB
Assignment_4/Praktischer_Teil/PCP/FreeRTOS/PCP-App/WIN32-MSVC/.vs/WIN32/v15/Browse.VC.db
Assignment_4/Praktischer_Teil/PCP/FreeRTOS/PCP-App/WIN32-MSVC/.vs/WIN32/v15/ipch/*
Assignment_4/Praktischer_Teil/PCP/FreeRTOS/PCP-App/WIN32-MSVC/.vs/WIN32/v15/.suo*
